/* *,
*::before,
*::after {
    
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
    
}
header{
    display: flex;
    
}
.header-container{
    display: flex;
    align-items: center;
}
.header-nav{
    display: flex;
    align-items: center;
    margin-right: auto;
}
img{
    display: block;
    width: 100%;
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.container{
width: 1158px;


    margin: 0 auto;
    padding: 0 15px;
}

.title-logo{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
            line-height: 117%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #4d5ae5;
            margin-right: 76px;
}
.title-span{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
}
.header-list{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        display: flex;
        gap: 40px;
        justify-content: center;
        position: relative;
        color: #404bbf;
    
       
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #2e2f42;
        }
                .list-nav::after{
                    content: "";
                    width: 100%;
                    position: absolute;
                    left: 0;
                    bottom: -1px;
                    height: 4px;
                    background-color: #404bbf;
                    border-radius: 2px;
                    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
                }

.list-nav {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-nav:hover,

.list-nav:focus{
    color: #404bbf;

}

.addres{
    font-style: normal;
    
}
.contacts{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
    line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
        
            color: #2e2f42;
            

        
        
}
.contacts-out{
color: #434455;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contacts-out:hover,

.contacts-out:focus {
    color: #404bbf;
}

.contact-list{
    display: flex;
    gap: 40px;
    justify-content: end;
    align-items: center;
    
}


/* section-one */

.section-one{
    
        background-color: #2e2f42;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image:
                linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                url(../images/peopleoffice.jpg);
        background-position: center;
        background-size: cover;
        max-width: 1440px;
        background-repeat: no-repeat;
}
.head-title{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        max-width: 496px;
        margin-right: auto;
        margin-left: auto;


        line-height: 107%;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        padding-bottom: 48px;

}
.button{
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
background-color: #4D5AE5;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px; 
margin-right: auto;
margin-left: auto;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);;
line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
cursor: pointer;


}
.button:hover,
.button:focus {
    background-color: #404BBF;
    color: white;
   
}

.section-two{
    padding: 120px 0;

}
.section-two-flex{
    display: flex;
    gap: 24px;

}

        .section-two-div{
display: flex;
justify-content: center;
align-items: center;
height: 112px;
background-color: #f4f4fd;
border-radius: 4px;
border: 1px solid #8e8f99;
margin-bottom: 8px;



        }
.visually-hidden{
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.scn-two-list{
    width: calc((100% - 72px) / 4);
}
.section-two-title{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        text-transform: capitalize;
        margin-bottom: 8px;
        line-height: 120%;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.section-two-paragraph{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #434455;
}
/* section three */
.section-three{
    background: #f4f4fd;
    padding: 120px 0;
}
.team-list{
    background-color: #FFFFFF;
    
    width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px;
width: calc((100% - 72px) / 4);
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    ;
   
    
}
.team-flex {
    display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 24px
}
.team-title{
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 72px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    
}
.section-three-icon{
    fill: #f4f4fd;
    /* stroke: #4d5ae5 */
    height: 40px;


    }
    .section-three-social-list{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
        /* height: 40px; */
        
    }
        .social-spisok{
            border-radius: 50%;
            background-color: #4d5ae5;
            width: 40px;
            height: 40px;
           
        
        }
.profession{
    padding: 32px 0;

}
.social{
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social:hover{
    background-color: #404bbf;
}
.social:focus{
    background-color: #404bbf;
}
.team-mates{
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color: #FFFFFF;
    text-align: center;
    margin-bottom: 8px;
   

    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}
.devolopers{
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: #FFFFFF;
    text-align: center;

   
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}
/* section last */ 

.section-last{
    padding-top: 120px;
    padding-bottom: 120px;
}
.section-last-title{
font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: capitalize;
    margin-bottom: 72px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
 
    padding-bottom: 120;
}
.title-app{
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.type-app{
font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;
}
.last-list-scn{
      row-gap: 48px;
    column-gap: 24px;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.last-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    

    
justify-content: space-between;
}
.last-list-scn:hover{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        transform: translateY(0%);
}
.last-list-scn:hover .last-paragraph{
    transform: translateY(0%);
}

.last-box{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.foto-wrap{
    position: relative;
    overflow: hidden;

}
.last-paragraph {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* footer */
.footer-head{
    background: #2e2f42;
    padding: 100px 0px;
    display: flex;
    
}
.footer-teks{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;

        line-height: 150%;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
        
}
.last-div{
    display: flex;
}
.title-logo-footer{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;

}
.title-span-footer{
    color: #f4f4fd;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
    
        
        line-height: 117%;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.logo-p{
    margin-right: 120px;
}

.footer-social{
    align-items: baseline;
    display: flex;
    
    


}
.footer-li{
    width: 40px;
height: 40px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-social-ul{
    display: flex;
    gap: 16px;


}

.footer-link{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.footer-link:hover{
    background-color: #31d0aa;
}
.footer-link:focus{
    background-color: #31d0aa;

}
.footer-svg{
    fill: #f4f4fd;
    
}
.footer-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}



.footer-cont{
    display: flex;
     align-items: baseline;
}

.form-subscribe-wraper{

}


.form-subscribe{
    margin-left: 80px;


    
}
.label-subscribe {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
    
    
        line-height: 150%;
        letter-spacing: 0.02em;
        color: #fff;
    
}
.form-subscribe-icon{
fill: white;
stroke: #4d5ae5;

}
.input-subscribe{
    border: 1px solid #fff;
        border-radius: 4px;
        width: 264px;
        height: 40px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #2e2f42;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-left: 16px;
   
}
.button-subscribe{
display: flex;
justify-content: center;
align-items: center;
    padding: 8px 16px 8px 24px;
    border-radius: 4px;
    gap: 16px;
        
        width: 165px;
        height: 40px;
        font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
        
            
            /* line-height: 150%;
            letter-spacing: 0.04em; */
            
            color: #fff;
            background: #4d5ae5;

}
.form-subscribe-fields {
    display: flex;
    align-items: center;
    
    gap: 24px;

    
}
::placeholder{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
    
        
        line-height: 200%;
        letter-spacing: 0.04em;
        color: #fff;
}
.button-subscribe,
.input-subscribe {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);}

